<div class="booyah-box col-10 offset-1">
  <h1>Careers</h1>

  <p>
    Unfortunately, I can't afford to hire anyone for this project.
  </p>
  <p>
    I'm open to job opportunities though!
  </p>
</div>
