<p>Hey There!</p>
<p>
  Just wanted to let you know that a new lesson has been added to a course you enrolled in: <b><%= @course.title %></b>
</p>

<p>
  Check it out <%= link_to 'here', course_url(@course) %>!  
</p>

Enjoy!<br />
The Flixter Team
