@import "bootstrap";

$font-weight-100: 100;

body {
  background: image_url('body_bg.png');
  font-family: "Helvetica Neue", Helvetica, serif;
}

ul {
  list-style-type: none;
  .header {
    font-size: 25px;
    margin-bottom: 35px;
    .fa {
      font-size: 20px;
    }
  }
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 30px;
  padding: 20px;
}

.course-image {
  margin-bottom: 18px;
}

.course-info {
  margin-bottom: 10px;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.frosty {
  text-shadow: rgba(0, 0, 0, 0.95) 0 1px 2px;
  background: rgba(0, 0, 0, 0.5);
  color: #f8f9fa;

  h2 {
  font-weight: 200;
  }
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.hero {
  background: image_url('hero.jpg') no-repeat center 80% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.lesson {
  margin-top: 10px;
  height: 130px;
  padding-right: 5px;
  padding-left: 5px;

  a {
    color: white;
    font-size: 15px;

    b {
      font-size: 25px;
    }
  }

  .lesson-details{
    background-color: #111;
    height: 100%;
  }
}

.lessons {
  padding-left: 0px;
  li {
    background: black;
    color: white;
    margin: 10px 0;
    font-weight: 100;
    padding: 8px;
    font-size: 15px;

    b {
      font-size: 25px;
    }

    p {
      margin: 0;
    }
  }
}

.navbar {
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('curls.png');
}

a.navbar-brand > h1,
.frosty h1,
.skinny-title,
.lesson > a,
.lesson > a > b{
  font-weight: $font-weight-100;
}

.sections {
  // border: 1px solid;
  // border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;

  > li {
    border: 1px solid;
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
    padding: 15px;
    margin: 20px 7px;
  }
}
